<style>
    table, th , td  {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
</style>
<div ng-controller='availabilityInfoController'>
 Availability<br>
<body>
    <button type='button' ng-click="resetAll('Fall Semester',false)">Clear All</button>
    <button type='button' ng-click="setPreviousSchedule('Fall Semester',false)">Last Saved</button>
	<button type='button' ng-click="saveAvailability(false)">Save</button>
    <button type='button' ng-click="saveAvailability(true)">Save and Continue</button>
    <!--tab headers-->
    <ul ng-model='semester' ng-init="semester=1">
        <li><a href='javascript:void(0)' ng-click="semester=1">Fall</a></li>
        <li><a href='javascript:void(0)' ng-click="semester=2">Spring</a></li>
        <li><a href='javascript:void(0)' ng-click="semester=3">Summer</a></li>
    </ul>
    <hr>
    <!--tab body-->
    <div ng-show="semester===1">
    	<h3>Fall Schedule</h3><br>
        <table>
  			<tr>
     			<th>Time</th>
     			<th ng-repeat='day in days'>{{day}}</th> 
   			</tr>
  			<tr ng-repeat="time in times">
          <td>{{time.startHour}}-{{time.stopHour}}</td>
          <td><input name='Fall Semester_Sunday' type='checkbox' value={{time}}></td>
          <td><input name='Fall Semester_Monday' type='checkbox' value={{time}}></td>
          <td><input name='Fall Semester_Tuesday' type='checkbox' value={{time}}></td>
          <td><input name='Fall Semester_Wednesday' type='checkbox' value={{time}}></td>
          <td><input name='Fall Semester_Thursday' type='checkbox' value={{time}}></td>
          <td><input name='Fall Semester_Friday' type='checkbox' value={{time}}></td>
          <td><input name='Fall Semester_Saturday' type='checkbox' value={{time}}></td>
        </tr>
		</table>
    </div>
    <div ng-show="semester===2">
    	<h3>Spring Schedule</h3><br>
          <table>
  			<tr>
    			<th>Time</th>
     			<th ng-repeat='day in days'>{{day}}</th> 
   			</tr>
  			<tr ng-repeat="time in times">
          <td>{{time.startHour}}-{{time.stopHour}}</td>
          <td><input name='Spring Semester_Sunday' type='checkbox' value={{time}}></td>
          <td><input name='Spring Semester_Monday' type='checkbox' value={{time}}></td>
          <td><input name='Spring Semester_Tuesday' type='checkbox' value={{time}}></td>
          <td><input name='Spring Semester_Wednesday' type='checkbox' value={{time}}></td>
          <td><input name='Spring Semester_Thursday' type='checkbox' value={{time}}></td>
          <td><input name='Spring Semester_Friday' type='checkbox' value={{time}}></td>
          <td><input name='Spring Semester_Saturday' type='checkbox' value={{time}}></td>
        </tr>
		</table>
    </div>
    <div ng-show="semester===3">
      <h3>Summer Schedule</h3><br>
          <table>
        <tr>
          <th>Time</th>
          <th ng-repeat='day in days'>{{day}}</th> 
        </tr>
        <tr ng-repeat="time in times">
          <td>{{time.startHour}}-{{time.stopHour}}</td>
          <td><input name='Summer Semester_Sunday' type='checkbox' value={{time}}></td>
          <td><input name='Summer Semester_Monday' type='checkbox' value={{time}}></td>
          <td><input name='Summer Semester_Tuesday' type='checkbox' value={{time}}></td>
          <td><input name='Summer Semester_Wednesday' type='checkbox' value={{time}}></td>
          <td><input name='Summer Semester_Thursday' type='checkbox' value={{time}}></td>
          <td><input name='Summer Semester_Friday' type='checkbox' value={{time}}></td>
          <td><input name='Summer Semester_Saturday' type='checkbox' value={{time}}></td>
        </tr>
    </table>
    </div>
</body>   
</div>