<div class="form-courses" ng-controller='coursesInfoController'>
    <form>
        <fieldset>
            <legend><span class="number">1</span>Course Competancies*</legend>
            <div ng-repeat="course in courses">               
                <span ng-init="courses.group=null">
                        <label><strong>{{course.name}}</strong></label>
                        <div class='right'>
                          <input type='checkbox' ng-model='course.prefer' ng-true-value='1' ng-false-value='0'>Prefer
                          <input type='checkbox' ng-model='course.qualified' ng-true-value='1' ng-false-value='0'>Qualified 
                          <input type='checkbox' ng-model='course.prevTA' ng-true-value='1' ng-false-value='0'>Previously TA
                          <input type='checkbox' ng-model='course.prevGrader' ng-true-value='1' ng-false-value='0'>Previously Grader
                        </div>
                  <br><br>
                </span>
            </div>
            <p ng-model='requiremessage'>{{message}}</p>
            <div id='spaceforcourses'></div>
            <addcoursesbutton></addcoursesbutton><br><br>  
            <!--end div of courses section-->
        </fieldset>
    </form>
    <br><br><br>
    <input type='button' ng-click='saveCourses(false)' value="Save"></input>
    <input type='button' ng-click='saveCourses(true)' value="Save and Complete"></input>
</div>