<div class="form-courses">
<form>
<fieldset>	
	<legend><span class="number">1</span> Course Competencies</legend>
<div ng-controller='coursesInfoController'>

    <div ng-repeat="course in courses">  
		<p><input type='checkbox' ng-model=course.box ng-init='course.box=0' ng-true-value='1' ng-false-value='0'><strong>{{course.name}}</strong><br></p>
		<p><input id='previousInput' type='checkbox' ng-model=course.pbox ng-init='course.pbox=0' ng-true-value='1' ng-false-value='0'>Previous TA/Grader for {{course.name}}</p>

    </div><!--div ng-repeat="course in courses"-->
	<strong>Other(s):</strong><input type='text' ng-model='otherCourse' ng-init='otherCourse=null'>
	<label id='othersT' for="othersTaught"><strong>Other(s) TA/Grader:</strong></label>
    <input id='othersTaught' type='text' ng-model='otherCourseT' ng-init='otherCourseT=null'>
    <br>
    
    <button type='button' ng-click='saveCourses(false)'>Save</button>
    <button type='button' ng-click='saveCourses(true)'>Save and Complete</button>
</div><!--<div ng-controller='coursesInfoController'>-->
	</div><!--<div form-courses-->
	</form>