<div class="form-courses" ng-controller='coursesInfoController'>
    <form>
        <fieldset>
            <legend><span class="number">1</span>Course Competancies</legend>
            <p>*To deselect a course double click selection</p>
            <div ng-repeat="course in courses">               
                <span class='bottom' ng-init="courses.group=null">
                        <label class='left'>{{course.name}}</label>
                        <div class='right'>
                          <input type='radio' ng-model='course.level' value='Prefer' ng-dblclick='deselectLevel(this)'>Prefer
                          <input type='radio' ng-model='course.level' value='Qualified' ng-dblclick='deselectLevel(this)'>Qualified 
                          <input type='radio' ng-model='course.level' value='Previously TA' ng-dblclick='deselectLevel(this)'>Previously TA
                          <input type='radio' ng-model='course.level' value='Previously Grader' ng-dblclick='deselectLevel(this)'>Previously Grader
                        </div>
                  <br><br>
                </span>
            </div>
            <p ng-model='requiremessage'>{{message}}</p>
            <div id='spaceforcourses'></div>
            <addcoursesbutton></addcoursesbutton><br><br>  
            <!--end div of courses section-->
        </fieldset>
    </form>
    <br><br><br>
    <input type='button' ng-click='saveCourses(false)' value="Save"></input>
    <input type='button' ng-click='saveCourses(true)' value="Save and Complete"></input>
</div>