<div ng-controller='employmentInfoController'>
    Employment<br>
    <input type='radio' ng-model='hours' value='20 hours per week' ng-change='doCheck()'>20 hours per week<br>
    <input type='radio' ng-model='hours' value='10 hours per week' ng-change='doCheck()'>10 hours per week<br>
    <input ng-model='international' ng-true-value='1' ng-false-value='0' ng-init='international=0' type="checkbox" id="international-student" name="international-student" ng-change='doCheck()'/> I'm an international student<br>
    <div ng-show="international===1">
        <input ng-model='speakTest' type="text" class="hidden" id="speak-test" name="speak-test" placeholder="Type in your speak test score"><br>
    </div>
    <input type='checkbox' ng-model='ta' ng-checked='ta===1' ng-true-value='1' ng-false-value='0' ng-init='ta=0'>Teaching Assistant<br>
    <input type='checkbox' ng-model='grader' ng-checked='grader===1' ng-true-value='1' ng-false-value='0' ng-init='grader=0'>Grader<br>
    Current Employer <input type='text' ng-model='employer'><br>
    Current Work Hours <input type='number' ng-model='workHours' ng-change='doCheck()'><br>
    <p ng-show='hoursWarning'>
        Your entered work hours are too high<br>
        You have indicated you are planning to work {{enteredHours}} hours.<br>
        If you are an international student, you are allowed to work a maximum of 20 hours.<br>
        If you are not an international student, you are allowed to work a maximum of 25 hours.<br>
        To continue, please reduce the hours you are seeking with ASU
        or you will need to reduce your work hours with your current employer.
    </p>
    <button ng-disabled='hoursWarning' type='button' ng-click='saveEmployment(false)'>Save</button>
    <button ng-disabled='hoursWarning' type='button' ng-click='saveEmployment(true)'>Save and Continue</button>
</div>