<div ng-controller='languagesInfoController'>
    <div>
        Languages<br>

        <input type='checkbox' ng-model='c' ng-checked='c===1' ng-true-value='1' ng-false-value='0'>C
        <input ng-disabled='!c' type='radio' ng-model='c_group' value='Expert'>Expert
        <input ng-disabled='!c' type='radio' ng-model='c_group' value='Proficient'>Proficient
        <input ng-disabled='!c' type='radio' ng-model='c_group' value='Novice'>Novice
        <br>

        <input type='checkbox' ng-model='csharp' ng-checked='csharp===1' ng-true-value='1' ng-false-value='0'>C#
        <input ng-disabled='!csharp' type='radio' ng-model='csharp_group' value='Expert'>Expert
        <input ng-disabled='!csharp' type='radio' ng-model='csharp_group' value='Proficient'>Proficient
        <input ng-disabled='!csharp' type='radio' ng-model='csharp_group' value='Novice'>Novice
        <br>

        <input type='checkbox' ng-model='cplusplus' ng-checked='cplusplus===1' ng-true-value='1' ng-false-value='0'>C++
        <input ng-disabled='!cplusplus' type='radio' ng-model='cpp_group' value='Expert'>Expert
        <input ng-disabled='!cplusplus' type='radio' ng-model='cpp_group' value='Proficient'>Proficient
        <input ng-disabled='!cplusplus' type='radio' ng-model='cpp_group' value='Novice'>Novice
        <br>
        
        <input type='checkbox' ng-model='css' ng-checked='css===1' ng-true-value='1' ng-false-value='0'>CSS
        <input ng-disabled='!css' type='radio' ng-model='css_group' value='Expert'>Expert
        <input ng-disabled='!css' type='radio' ng-model='css_group' value='Proficient'>Proficient
        <input ng-disabled='!css' type='radio' ng-model='css_group' value='Novice'>Novice
        <br>
        
        <input type='checkbox' ng-model='html' ng-checked='html===1' ng-true-value='1' ng-false-value='0'>HTML
        <input ng-disabled='!html' type='radio' ng-model='html_group' value='Expert'>Expert
        <input ng-disabled='!html' type='radio' ng-model='html_group' value='Proficient'>Proficient
        <input ng-disabled='!html' type='radio' ng-model='html_group' value='Novice'>Novice
        <br>
    </div>
    <button type='button' ng-click='saveLanguages(false)'>Save</button>
    <button type='button' ng-click='saveLanguages(true)'>Save and Continue</button>
</div>