<div class="form-languages" ng-controller='languagesInfoController'>
    <form>
        <fieldset>
            <legend><span class="number">1</span>Languages*</legend>
            <p>*To deselect a language double click selection</p>
            <div ng-repeat="language in languages">               
                <span class='bottom' ng-init="language.group=null">
                        <label class='left'>{{language.name}}</label>
                        <div class='right'>
                            <input type='radio' ng-model='language.level' value='Expert' ng-dblclick='deselectLevel(this)'>Expert
                            <input type='radio' ng-model='language.level' value='Proficient' ng-dblclick='deselectLevel(this)'>Proficient 
                            <input type='radio' ng-model='language.level' value='Novice' ng-dblclick='deselectLevel(this)'>Novice
                        </div>
                    <br><br>
                </span>
            </div>
            <p ng-model='requiremessage'>{{message}}</p>
            <div id='spaceforlanguages'></div>
            <addlanguagesbutton></addlanguagesbutton><br><br>  
            <!--end div of languages section-->
        </fieldset>
    </form>
    <form>
        <fieldset>
            <legend><span class="number">2</span>IDEs*</legend>
            <div ng-repeat="ide in ides">
                <input type='checkbox' ng-model=ide.box ng-true-value='1' ng-false-value='0'>{{ide.name}}
            </div>
            <br>
            <div id='spaceforides'></div>
            <addidesbutton></addidesbutton><br><br>
            <!--end div of IDE section-->
        </fieldset>
    </form>
    <form>
        <fieldset>
            <legend><span class="number">3</span>Collaborative Tools*</legend>
            <div ng-repeat="tool in tools">
                <input type='checkbox' ng-model=tool.box ng-true-value='1' ng-false-value='0'>{{tool.name}}
            </div>
            <br>
            <div id='spacefortools'></div>
            <addtoolsbutton></addtoolsbutton>
            <!--end div of tools section-->
        </fieldset>
    </form>
    <br><br><br>
    <input type='button' ng-click='saveLanguages(false)' value="Save"></input>
    <input type='button' ng-click='saveLanguages(true)' value="Save and Continue"></input>
</div>