<div class="SearchApplications" ng-controller='programChairSearchAppController'>
    <h3>View Applications</h3>
    <form>
        Select a Course: <select ng-model='selectCourse' ng-options="c for c in courses"></select>
        <input type='button' ng-click='searchApp()' value="Submit">
    </form>
        <div class="display-apps" ng-repeat="name in names">
            <br>
            <div>Name : <a ng-href='#!/studentInfoPC/{{name.Name}}'>{{name.Name}} {{name.AppStatus}}</a></div>
            <br>
        </div>
</div>